[user]
    name = teitei-tk
    email = teitei.tk@gmail.com
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
[include]
    path = ~/.gitconfig_local
[alias]
    ag                     = "!git ls-files | xargs ag --pager=\"less -F -R\" --color-match=0\\;31 --color-path=0\\;0"
    st                     = status
    ch                     = checkout
    history                = log --pretty=format:\"%C(yellow)%h %C(White)%ad | %C(White)%s%d %C(Red)[%an]\" --graph --date=iso
    restart                = reset --hard HEAD
    delete-items           = !git status | grep deleted: | awk '{print $2}'  | xargs git rm
    delete-add-items       = !git status | awk '{print $1}' | xargs rm -rf
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    detect-branches        = !git checkout $(git branch | peco)
    rollback               = !git checkout $(git status | grep 'modified:' | awk '{print $2}' | peco)
    pr-checkout            = "!checkout() { git fetch origin pull/$1/head:$2 && git checkout $2; }; checkout"
    ignore                 = "!gi() { curl -sL https://www.gitignore.io/api/$@ ;}; gi"
[grep]
    lineNumber = true
[ghq]
    root = ~/repos/src
[filter "media"]
    clean = git media clean %f
    smudge = git media smudge %f
    required = true
[init]
	templatedir = ~/.git-templates/secrets
[secrets]
    patterns = private_key
    patterns = private_key_id
    providers = git secrets --aws-provider
    patterns = [A-Z0-9]{20}
    patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
    patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
    allowed = AKIAIOSFODNN7EXAMPLE
    allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
