"*":
  "atom-beautify":
    general:
      _analyticsUserId: "ddc50370-8166-45da-8f1e-1b393335db48"
    php: {}
  "atom-package-deps":
    ignored: []
  "auto-update-packages":
    intervalMinutes: 3600
  "autocomplete-go":
    snippetMode: "nameAndType"
  "autocomplete-python":
    caseInsensitiveCompletion: false
    extraPaths: "/Users/higa-yoshikatsu/.anyenv/envs/pyenv/versions/2.7.9/lib/python2.7/site-packages"
    pythonPaths: "/Users/higa-yoshikatsu/.anyenv/envs/pyenv/shims/python"
    useKite: false
  "autocomplete-ruby":
    rsensePath: "~/.anyenv/envs/rbenv/shims/rsense"
  core:
    disabledPackages: [
      "project-manager"
      "linter-phpmd"
      "linter-pep8"
      "linter-pycodestyle"
    ]
    telemetryConsent: "no"
    themes: [
      "pristine-ui"
      "base16-tomorrow-dark-theme"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Ricty"
    fontSize: 17
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "670b895c-49e1-6a78-a3e3-9ad4ac2eba5c"
  "go-find-references": {}
  "go-plus":
    panelDisplayMode: "closed"
  gofmt: {}
  "highlight-line": {}
  linter: {}
  "linter-eslint":
    fixOnSave: true
  "linter-flow":
    executablePath: "./node_modules/.bin/flow"
  "linter-php": {}
  "linter-rubocop":
    command: "bundle exec rubocop"
    disableWhenNoConfigFile: true
  "linter-twig": {}
  "linter-ui-default":
    panelHeight: 63
  "project-manager":
    environmentSpecificProjects: true
    sortBy: "title"
  react: {}
  "rubocop-auto-correct":
    autoRun: true
    correctFile: true
    notification: false
  "status-bar-clock":
    activateOnStart: "Show on start"
  term3:
    fontFamily: "Ricty"
    fontSize: "13"
  "tree-view": {}
  "vim-mode-plus":
    highlightSearch: true
    useClipboardAsDefaultRegister: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
  whitespace: {}
".erb.html.text":
  editor:
    softWrap: true
".go.source":
  editor:
    tabLength: 8
".gohtml.html.text":
  editor:
    tabLength: 8
".gotemplate.source":
  editor:
    tabLength: 8
".html.php.text":
  editor:
    tabLength: 4
".ruby.source":
  editor:
    softWrap: true
