"*":
  "atom-beautify":
    general:
      _analyticsUserId: "ddc50370-8166-45da-8f1e-1b393335db48"
    php: {}
  core:
    allowPendingPaneItems: false
    disabledPackages: [
      "bracket-matcher"
      "project-manager"
      "linter-phpmd"
    ]
  editor:
    tabType: "soft"
  "exception-reporting":
    userId: "670b895c-49e1-6a78-a3e3-9ad4ac2eba5c"
  "linter-php": {}
  "project-manager":
    environmentSpecificProjects: true
    sortBy: "title"
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
